/1000x1000.png
/deneme.py
/edge_detection.py
/edge_detection_gray.py
/flow_image.py
/gx.png
/gy.png
/output_name.png_grad.png
/output_name.png_nms.png
/output_name.png_orit.png
/output_name.png_track.png
/output_name222222.png_grad.png
/output_name222222.png_nms.png
/output_name222222.png_orit.png
/output_name222222.png_track.png
/resim.jpg
/resim2.jpg
/resim2.png